<div class="fav-restaurant" id="maincontent">
    <div class="search-bar">
        <input type="text" name="search-resto" class="search-input" placeholder="Jelajahi Restoran"
            aria-label="kolom pencarian restoran, ketik nama restoran disini.">
        <button class="search-btn" name="search-resto-submit-btn" aria-label="tombol mulai pencarian"><i
                class="bi bi-search"></i></button>
    </div>
    <h3>Favorite Restaurant</h3>
    <div class="favorite-restaurant-list restaurant-list">

    </div>
</div>