<div class="jumbotron">
    <div class="jumbotron-bg">
        <picture>
            <source media="screen and (max-width:719px)" srcset="./images/heros/hero-image_1-small.webp">
            <source media="screen and (min-width:720px)" srcset="./images/heros/hero-image_1-large.webp">
            <img src="./images/heros/hero-image_1.jpg" alt="Hero Image" class="lazyload" fetchpriority="high" />
        </picture>
    </div>
    <div class="jumbotron-content">
        <h3 class="jumbotron-headline delius-swash">Mulai Petualangan Kulinermu Disini</h3>
        <p class="jumbotron-description"></p>
    </div>
</div>
<div class="search-bar">
    <input type="text" name="search-resto" class="search-input" placeholder="Jelajahi Restoran"
        aria-label="kolom pencarian restoran, ketik nama restoran disini.">
    <button class="search-btn" name="search-resto-submit-btn" aria-label="tombol mulai pencarian"><i
            class="bi bi-search"></i></button>
</div>
<h3 style="text-align: center;" id="maincontent">Daftar Restoran</h3>
<div class="restaurant-list">
    <div>
        <p style="text-align: center;color: red;">Upps...Data tidak ditemukan.</p>
    </div>
</div>