<div class="detail-restaurant" id="maincontent">
    <div class="detail-header restaurant-image">
        <div class="lazyload" aria-label="Restaurant Image"></div>
        <div class="detail-header-title">
            <div class="wrapper">
                <h3 style="text-align: center;" class="restaurant-name" tabindex="0">Nama Restoran</h3>
                <star-rating></star-rating>
                <p class="restaurant-categories" tabindex="0"></p>
                <address tabindex="0"></address>
            </div>
        </div>
    </div>
    <div class="detail-body">
        <div class="detail-body-nav">
            <a href="/home" is="link-router" class="btn"><i class="bi bi-chevron-left"></i> Kembali</a>
            <div class="fav-btn-wrapper">
            </div>
        </div>
        <div class="detail-body-content">
            <div>
                <div class="description-wrapper">
                    <p style="margin:0;" tabindex="0"><strong>Deskripsi: </strong><span
                            class="restaurant-description"></span></p>
                </div>
                <div class="menu-wrapper">
                    <h3 class="restaurant-menus group-title" tabindex="0">Menu</h3>
                    <div class="restaurant-menus-list">
                        <div class="menu-list-category ">
                            <h4 tabindex="0" aria-label="kami menyediakan makanan berikut">Makanan</h4>
                            <ul class="foods">
                            </ul>
                        </div>
                        <div class="menu-list-category ">
                            <h4 tabindex="0" aria-label="kami menyediakan minuman berikut">Minuman</h4>
                            <ul class="drinks">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-wrapper">
                <h3 class="restaurant-reviews group-title" tabindex="0">Customer Reviews</h3>
                <div class="review-box">
                    <form action="">
                        <input type="text" name="name" id="" is="input-text" maxlength="50" minlength="2"
                            placeholder="Siapa kamu?">
                        <textarea name="review" id="" is="my-textarea" minlength="20" maxlength="255"
                            placeholder="Bagaimana pendapatmu?"></textarea>
                        <button type="reset"><i class="bi bi-trash"></i></button>
                        <button type="submit">Kirim</button>
                    </form>
                </div>
                <div class="restaurant-reviews-list">
                    <div class="review-bubble">
                        <span></span>
                        <div class="review-body">
                            <div class="reviewer-name" tabindex="0">${name}</div>
                            <div class="reviewer-msg" tabindex="0">${review}</div>
                            <div class="review-date" tabindex="0">${date}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>